<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">TO_DO</a>
    <button class="navbar-toggler" id="navButton" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Smthng</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Smthng</a></li>
        </ul>
    </div>
</nav>
<script src="nav-event-handler.js"></script>