h1 {
    margin-top: 60px;
}

#newProjectButton {
    min-width: 8em;
    max-height: 2.3em;
}

.projectLink:hover {
    text-decoration: none;
    color: #fff;
}

.projectLink {
    color: #000;
}

.task:hover{
    filter: brightness(85%);
}

.alert-secondary:hover {
    background-color: #b0b1b2;
}

.error404 {
    max-height: 100vh;
}

.container404 {
    left: 0;
    width: 100vw;
    position: absolute;
    background-color: black;
}